# Unity 자동 생성
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# 빌드 결과물
/[Bb]uild/
/[Bb]uilds/
*.apk
*.aab
*.unitypackage

# IDE / 도구
.vs/
.vscode/
.idea/
.utmp/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# OS
.DS_Store
Thumbs.db
